@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out forwards;
}


.animate-slideDown {
  animation: slideDown 0.25s ease forwards;
}


.animate-slideDown {
  animation: slideDown 0.25s ease forwards;
}

/* Hide scrollbar for horizontal category menu */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
